<div class="mt-2 body-minus-2 color-body-70 text-center">
  {{ 'i18n.bag.general.tax_shipping_info' | t }}
</div>
{% include 'cart_summary_checkout', class: 'cart-summary-checkout-btn', actionId: 'cart-render' %}
