{% stylesheet %}
  .cart-ec-button-container {
    margin: 10px 0;
  }
{% endstylesheet %}

<div class="cart-ec-button-container ec-button-container" {{ block.shoplaza_attributes }}>
  <spz-ec layout="container" scene="cart"></spz-ec>
</div>